<div class="banner">
  <img class="banner-img-mobile" src="/images/index_banner_pc.jpg" alt="">
  <img class="banner-img-pc" src="/images/index_banner_pc.jpg" alt="">
  <div class="banner-desc">
    <p class="container">Gigalumi,enrich your life with sharp design</p>
    <p class="container">创新设计，打造美好生活</p>
  </div>
</div>

<div class="company-profile">
  <div class="container">
    <div class="company-profile-desc">
      <img src="/images/index_img1.jpg" alt="">
      <div class="company-profile-desc-cmp">
        <h2>企业简介 </h2>
        <p>深圳吉家路米信息科技有限公司（简称吉家路米）是宁波知名跨境电商公司宁波黑米信息科技有限公司旗下的全资子公司。宁波黑米信息科技有限公司以助力中国消费品牌出海为使命，成立7年以来在庭院家居，灯具，小电器，玩具等领域成功孵化数十个线上品牌…
        </p>
      </div>
    </div>
    <ul class="company-profile-fun">
      <li>
        <div class="company-profile-fun-icon">
          <i class="iconfont">&#xe606;</i>
        </div>
        <p style="width: 120px;">运营推广</p>
      </li>
      <li>
        <div class="company-profile-fun-icon">
          <i class="iconfont">&#xe667;</i>
        </div>
        <p style="width: 120px;">产品研发</p>
      </li>
      <li>
        <div class="company-profile-fun-icon">
          <i class="iconfont yellow">&#xe627;</i>
        </div>
        <p style="width: 120px;">专利</p>
      </li>
      <li>
        <div class="company-profile-fun-icon">
          <i class="iconfont ">&#xe662;</i>
        </div>
        <p style="width: 120px;">海外资源整合</p>
      </li>
    </ul>
  </div>
</div>

<div class="company-rele">
  <div class="container">
    <h2>公司相关</h2>
    <div class="company-rele-content">
      <a class="company-rele-content-item " href="/about">
        <img src="/images/index_jtbj.jpg" alt="">
        <p>公司背景</p>
      </a>
      <a class="company-rele-content-item" href="/about">
        <img src="/images/index_qywh.jpg" alt="">
        <p>公司文化</p>
      </a>
    </div>
  </div>
</div>