{{ $pag := $.Paginator }}

{{ if gt $pag.TotalPages 1 }}
<div  class="pagination-nav">
  <ul class="pagination">
    {{ if $pag.HasPrev }}
    <a class="page-item" href="{{ $pag.Prev.URL }}" rel="next"> ←</a>
    {{ end }}

    {{ range $pag.Pagers }}
   
    {{ if eq . $pag }}

    <a class="page-item active" href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ else }}
    <a class="page-item" href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ end }}
    {{ end }}

    {{ if $pag.HasNext }}
    <a class="page-item" href="{{ $pag.Next.URL }}" rel="next"> →</a>
    {{ end }}
  </ul>

  <!-- </nav> -->
</div>
{{ end }} 
