<div class="banner">
  <img class="banner-img-pc" src="/images/index_banner.jpg" alt="">
  <img class="banner-img-mobile" src="/images/index_banner.jpg" alt="">
  <div class="banner-desc">
    <p class="container">Unterstützung · Begeisterung · Zustimmung · Vertrauen</p>
    <p class="container"> 助力·激动·赞同·信赖</p>
  </div>
</div>

<div class="company-rele company-profile-padding">
  <div class="container">
    <h2>公司简介</h2>
    <div class="company-profile-desc">
      <img src="/images/index_img1.jpg" alt="">
      <div class="company-profile-desc-cmp company-profile-desc-div ">
        <div>
        <p>宁波灏米信息科技有限公司成立于2020年，是一家集产销研于一体的专业的跨境消费品品牌运营公司，创始团队从2016年开始跨境品牌领域创业，至今已拥有行业顶尖的品牌运营体系。公司团队核心成员从创业至今有近10个跨境线上消费品牌成功打造经验，品牌年销售额达10亿人民币。
        <p>公司办公场地2000平，员工近百人，当前灏米科技以家用冰相关设备和产品为核心，辐射小家电品类，致力于通过研发和设计，为全球消费者创造健康，环保，节能的产品，传递酷爽的生活态度，三年愿景成为全球线上制储冰品类第一。</p>
        <p>公司有完整的产品方案，产品设计，品牌营销，线上多渠道运营体系和培训体系，有丰富的行业资源和欧美本地化团队，有大学校内合作平台支撑产销研项目。</p>
      </div>
      </div>
    </div>
  </div>
  <div class=" company-profile-ul">
    <h2 class="container">公司优势</h2>
    <ul class="company-profile-fun company-rele container company-profile-li">
      <li>
        <div class="company-profile-fun-icon">
          <i class="iconfont">&#xe606;</i>
        </div>
        <p style="width: 120px;">运营推广</p>
      </li>
      <li>
        <div class="company-profile-fun-icon">
          <i class="iconfont">&#xe667;</i>
        </div>
        <p style="width: 120px;">产品研发</p>
      </li>
      <li>
        <div class="company-profile-fun-icon">
          <i class="iconfont yellow">&#xe627;</i>
        </div>
        <p style="width: 120px;">专利</p>
      </li>
      <li>
        <div class="company-profile-fun-icon">
          <i class="iconfont ">&#xe662;</i>
        </div>
        <p style="width: 120px;">海外资源整合</p>
      </li>
    </ul>
  </div>
</div>

<div class="company-rele">
  <div class="container">
    <h2>公司相关</h2>
    <div class="company-rele-content">
      <a class="company-rele-content-item " href="/about">
        <img src="/images/index_img2.jpg" alt="">
        <p>公司文化</p>
      </a>
      <a class="company-rele-content-item" href="/product">
        <img src="/images/index_img3.jpg" alt="">
        <p>产品展示</p>
      </a>
    </div>
  </div>
  <div class="container">
    <h2>人才相关</h2>
    <div class="talents-rele-content">
      <a class="talents-rele-content-item">
        <img src="/images/index_img4.jpg" alt="">
      </a>
    </div>
  </div>
</div>