<div class="banner">
  <img class="banner-img-pc" src="/images/index_banner.jpg" alt="">
  <div class="banner-desc">
    <p class="container">Unterstützung · Begeisterung · Zustimmung · Vertrauen</p>
    <p class="container"> 助力·激动·赞同·信赖</p>
  </div>
</div>

<div class="company-profile">
  <div class="container">
    <div class="company-profile-desc">
      <img src="/images/index_img1.jpg" alt="">
      <div class="company-profile-desc-cmp">
        <h2>企业简介 </h2>
        <p>宁波灏米信息科技有限公司成立于2020年11月06日。
          从事跨境电商行业。主要产品有制冰机、移动空调、饮水机、饮料柜、冰箱、车载冰箱、取暖器、烘干机、户外工具类等。
          公司稳定发展，从10人逐渐发展为如今的30人，经营状况良好，且对外投资5家公司。
          <br/>宁波灏米信息科技有限公司注册的商标信息有ICEHERR、COMMYPET、GOINFIS、CAMPSCAL、FREMELY、CLOUSAPE等7个商标。
        </p>
      </div>
    </div>
    <ul class="company-profile-fun">
      <li>
        <div class="company-profile-fun-icon">
          <i class="iconfont">&#xe606;</i>
        </div>
        <p style="width: 120px;">运营推广</p>
      </li>
      <li>
        <div class="company-profile-fun-icon">
          <i class="iconfont">&#xe667;</i>
        </div>
        <p style="width: 120px;">产品研发</p>
      </li>
      <li>
        <div class="company-profile-fun-icon">
          <i class="iconfont yellow">&#xe627;</i>
        </div>
        <p style="width: 120px;">专利</p>
      </li>
      <li>
        <div class="company-profile-fun-icon">
          <i class="iconfont ">&#xe662;</i>
        </div>
        <p style="width: 120px;">海外资源整合</p>
      </li>
    </ul>
  </div>
</div>

<div class="company-rele">
  <div class="container">
    <h2>公司相关</h2>
    <div class="company-rele-content">
      <a class="company-rele-content-item " href="/about">
        <img src="/images/index_img2.jpg" alt="">
        <p>公司背景</p>
      </a>
      <a class="company-rele-content-item" href="/about">
        <img src="/images/index_img3.jpg" alt="">
        <p>公司文化</p>
      </a>
    </div>
  </div>
</div>