<footer>
  <div class="container">
    <div class="footer-nav">
      <dl>
        <dt>关于我们</dt>
        <dd><a href="/about"><span>企业文化</span></a></dd>
        <dd><a href="/about"><span>公司简介</span></a></dd>
      </dl>  
      <dl>
        <dt class="lastdt">联系我们</dt>
        <dd><a href="/contact"><span>联系方式</span></a></dd>
      </dl> 
    </div>
    <p>© <script>document.write("2016-"+new Date().getFullYear());</script> {{ .Site.Copyright}}  版权所有  <a href="{{ .Site.Params.IcpURL }}" target="_blank">{{ .Site.Params.IcpID }}</a>  </p>

  </div>
</footer>

{{ $mainJs := resources.Get "js/default.js" | minify | fingerprint }}
<script src="{{ $mainJs.RelPermalink }}"></script>
