<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>宁波灏米信息科技有限公司</title>
  <meta name="keywords" content="灏米,宁波灏米,宁波灏米信息科技有限公司,宁波黑米,宁波黑米信息科技有限公司">
  {{ "<!-- mobile responsive meta -->" | safeHTML }}


 
  {{ "<!-- Main stylesheet -->" | safeHTML }}

  {{ $css := resources.Get "css/style.css" }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());   
    gtag('config', '{{ . }}');
  </script>
</head>