.banner {
  position: relative;
}
.banner .banner-img-mobile {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.banner .banner-img-pc {
  display: none;
}

.banner-desc {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
}

.banner-desc h2 {
  font-size: 0.4rem;
  font-weight: bold;
}

.banner-desc p {
  font-size: 0.24rem;
}

/* company-profile */

.company-profile {
  padding: 0.6rem 0;
}

.company-profile-desc img {
  display: none;
}

.company-profile-desc-cmp h2 {
  font-size: 0.32rem;
  margin-bottom: 0.35rem;
}

.company-profile-desc-cmp p {
  font-size: 0.24rem;
  margin-bottom: 0.5rem;
}

.company-profile-fun {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.company-profile-fun li {
  margin: 0 0.3rem 0.3rem 0.3rem;
}

.company-profile-fun-icon {
  width: 1.67rem;
  height: 1.67rem;
  background-color: white;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.05rem solid #f7f7f7;
}
.company-profile-fun-icon i {
  font-size: 1rem;
  color: #f8a72c;
}

.company-profile-fun p {
  font-weight: bold;
  text-align: center;
  color: rgba(51, 51, 51, 1);
  font-size: 0.26rem;
}

/* company-news */
.company-news {
  background-color: #f5f5f5;
}

.company-news h2 {
  font-size: 0.32rem;
  padding: 0.36rem 0;
  border-bottom: 1px solid #e6e6e6;
}

.company-news h2.noline {
  padding: 0.15rem 0;
  border: none;
}

.company-news-content {
  padding: 0.2rem 0;
}

.company-news-content-item {
  display: flex;
  padding: 0.15rem 0;
  cursor: pointer;
}

.company-news-content-item:hover {
  color: #f8a72c;
}
.company-news-content-item:hover .company-news-content-item-date {
  background: #f8a72c;
}

.company-news-content-item-date {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  background: #666666;
  margin-right: 0.3rem;
}
.company-news-content-item-date span:last-child {
  text-transform: uppercase;
}
.company-news-content-item-date span:first-child {
  font-size: 0.75rem;
}

.company-news-content-item-date span:last-child {
  font-size: 0.35rem;
}

.company-news-content-item-cont {
  max-width: 5rem;
}

.company-news-content-item-title {
  font-size: 0.26rem;
  margin-bottom: 0.22rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-weight: bold;
}

.company-news-content-item-cont p:last-child {
  font-size: 0.24rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.industry-info img {
  width: 6.8rem;
  margin: 0.3rem 0;
  cursor: pointer;
}

.industry-info p {
  font-size: 0.26rem;
  font-weight: bold;
  color: #333333;
  padding-bottom: 0.5rem;
}

/* company-deve */

.company-deve {
  padding: 0.25rem 0;
  background-color: white;
}

.company-deve h2 {
  font-size: 0.32rem;
  font-weight: bold;
  color: #333333;
  padding: 0.35rem 0;
}

.company-deve .date-plane {
  padding: 0.4rem 0.3rem;
  background-color: #f9f9f9;
}

.company-deve .date-plane h4 {
  font-size: 0.5rem;
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: #f8a72c;
}

.company-deve .date-plane p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 0.24rem;
  margin: 0.15rem 0;
}

.company-deve .date-plane p span {
  margin-right: 0.35rem;
}

.date-plane-item {
  display: none;
}

.date-plane-item.show {
  display: block;
}

.time-line {
  padding: 0.45rem 0;
}

.time-line ul {
  display: flex;
  justify-content: center;
}

.time-line ul li {
  flex: 1;
  text-align: center;
  font-size: 0.26rem;
  font-weight: bold;
  color: #666666;
  border-bottom: 0.03rem solid #dfdfdf;
  position: relative;
  padding-bottom: 0.4rem;
}

.time-line ul li b {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: block;
  width: 0.15rem;
  height: 0.15rem;
  background: #dfdfdf;
  border-radius: 50%;
  cursor: pointer;
}

.time-line ul li.active b {
  width: 0.3rem;
  height: 0.3rem;
  background-color: #f8a72c;
}

.time-line ul li.active span {
  color: #f8a72c;
}

.time-line ul li.active b::after {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  content: "";
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
  display: block;
  background-color: white;
}

/* company-rele */
.company-rele {
  background-color: #f9f9f9;
  padding-bottom: 0.4rem;
}

.company-rele h2 {
  font-size: 0.32rem;
  padding: 0.36rem 0;
}

.company-rele-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.company-rele-content img {
  width: 3.28rem;
  display: block;
}

.company-rele-content-item {
  position: relative;
}

.company-rele-content-item p {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.15rem 0 0.15rem 0.2rem;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  font-size: 0.26rem;
  font-weight: bold;
  color: #fefefe;
}

@media screen and (min-width: 768px) {
  .banner .banner-img-mobile {
    display: none;
  }

  .banner .banner-img-pc {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .banner-desc p {
    margin-top: 10px;
  }

  .company-profile-fun li {
    margin: 0 1rem 0.3rem 1rem;
  }

  .industry-info img {
    width: 7rem;
  }
}

@media screen and (min-width: 992px) {
  .company-profile-fun li {
    margin: 0 1.5rem 0.3rem 1.5rem;
  }

  .industry-info img {
    width: 9.5rem;
  }

  .company-news-content-item-cont {
    max-width: 6.5rem;
  }

  .company-rele-content-item {
    margin: 0 5% 5% 5%;
  }

  .company-rele-content img {
    width: 3.88rem;
    display: block;
  }

  .company-rele-content-item {
    margin: 0 0 0.2rem 0.3rem;
  }
}

@media screen and (min-width: 1200px) {
  .banner-desc h2 {
    font-size: 60px;
  }

  .banner-desc p {
    font-size: 36px;
    margin-top: 20px;
  }

  .banner .banner-img-pc {
    display: none;
  }

  .banner {
    height: 640px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url(/images/1index_banner.jpg);
  }

  .company-profile {
    padding: 75px 0;
  }

  .company-profile .container {
    display: flex;
    justify-content: space-between;
  }

  .company-profile-desc img {
    display: block;
    width: 266px;
    margin-right: 40px;
  }

  .company-profile-desc {
    display: flex;
    position: relative;
  }

  .company-profile-desc::after {
    content: "";
    position: absolute;
    right: -45px;
    width: 1px;
    height: 160px;
    background: #cdcdcd;
    opacity: 0.28;
  }

  .company-profile-desc-cmp h2 {
    font-size: 18px;
    margin-bottom: 19px;
  }

  .company-profile-desc-cmp p {
    font-size: 14px;
    max-width: 320px;
  }

  .company-profile-fun {
    flex-wrap: nowrap;
  }

  .company-profile-fun li {
    margin: 0;
  }

  .company-profile-fun-icon {
    width: 90px;
    height: 90px;
    margin: 0 15px 12px 15px;
    border-width: 2px;
  }
  .company-profile-fun-icon i {
    font-size: 50px;
  }
  .company-profile-fun li p {
    font-size: 16px;
  }

  .industry-info h2,
  .company-news h2 {
    font-size: 24px;
    padding: 16px 0;
  }

  .company-news .container {
    display: flex;
    justify-content: space-between;
  }
  .company-news-content-item {
    padding: 18px 0;
  }

  .company-news-content-item-date {
    width: 68px;
    height: 68px;
    margin-right: 18px;
  }

  .company-news-content-item-date span:first-child {
    font-size: 32px;
  }

  .company-news-content-item-date span:last-child {
    font-size: 14px;
  }

  .company-news-content-item-title {
    margin-bottom: 14px;
    font-size: 18px;
  }
  .company-news-content-item-cont p {
    max-width: 568px;
  }
  .company-news-content-item-cont p:last-child {
    font-size: 14px;
  }
  .industry-info img {
    max-width: 490px;
    margin: 0;
  }
  .industry-info p {
    margin-top: 22px;
    font-size: 18px;
  }
  .company-news-content,
  .industry-info {
    padding: 20px 0;
  }
  .industry-info-img {
    overflow: hidden;
  }
  .industry-info img:hover {
    transform: scale(1.1);
    transition: transform ease 3s;
  }
  .industry-info-box:hover p {
    color: #f8a72c;
  }

  .company-deve h2 {
    font-size: 24px;
  }
  .company-deve .date-plane {
    padding: 35px 0 50px 0;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
  .date-plane-item.show {
    display: flex;
  }
  .company-deve .date-plane h4 {
    font-size: 50px;
    padding: 0 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .company-deve .date-plane h4::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 125px;
    top: 4px;
    background: #c3c3c3;
    right: 0;
  }
  .date-plane-item-desc {
    margin-left: 45px;
  }
  .company-deve .date-plane-item-desc p {
    font-size: 16px;
    margin: 7px 0;
  }
  .company-deve .date-plane p span {
    margin-right: 17px;
  }
  .time-line ul li {
    font-size: 26px;
  }
  .time-line ul li.active b {
    width: 30px;
    height: 30px;
  }
  .company-rele {
    padding: 40px 0 80px 0;
  }
  .company-rele h2 {
    font-size: 24px;
    padding: 25px 0;
  }
  .company-rele-content {
    flex-wrap: nowrap;
  }
  .company-rele-content img {
    width: 100%;
  }

  .company-rele-content-item:hover p {
    background-color: rgba(248, 167, 44, 0.8);
    transition: all ease 0.5s;
  }
  .company-rele-content-item {
    cursor: pointer;
    margin: 0;
    margin-right: 8px;
    overflow: hidden;
  }
  .company-rele-content-item:hover img {
    transform: scale(1.2);
    transition: transform ease 3s;
  }
  .company-rele-content-item p {
    font-size: 16px;
  }
}
