.product-layout {
  display: flex;
  margin: 30px 0;
}
.container-box-image {
  width: 95%;
  margin: 2.5% 0;
}
.menu-item {
  width: 250px;
}

.menu-item .link {
  cursor: pointer;
  display: block;
  color: #4d4d4d;
  height: 92px;
  font-size: 14px;
  padding: 0 20px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 92px;
}

.con-right {
  width: 930px;
  margin: 0 30px;
}

.product-box {
  display: flex;
  width: 930px;
  flex-wrap: wrap;
}

.product-box li {
  margin-right: 10px;
}

.hide {
  display: none;
}

.container-box {
  column-count: 4;
  column-gap: 0;
}
.item img {
  width: 100%;
}
.product-banner {
  position: relative;
}

.product-banner-desc {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
}

.product-banner-img {
  max-width: 100%;
  height: 4rem;
  display: block;
  object-fit: cover;
}

.product-banner-desc h2 {
  font-size: 0.4rem;
  font-weight: bold;
}

.product-banner-desc p {
  font-size: 0.24rem;
}

@media screen and (min-width: 1200px) {
  .product-banner {
    height: 300px;
    background-image: url(/images/product_banner.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

  .product-banner-img {
    display: none;
  }

  .product-banner-desc h2 {
    font-size: 60px;
  }

  .product-banner-desc p {
    margin-top: 10px;
    font-size: 36px;
  }
}

.product-item {
  display: block;
  width: 292px;
  height: 356px;
  margin: 20px 5px 20px 5px;
  box-shadow: 0px 0px 5px #d5d4d4;
  background: #fff;
  text-align: center;
}

.product-item img {
  height: 225px;
  margin: 20px;
}

.product-item p {
  padding: 0 15px;
}

@media screen and (max-width: 567px) {
  .product-layout {
    display: block;
  }

  .menu-item {
    width: 100%;
  }

  .con-right {
    margin: 0px;
    width: auto;
  }

  .container-box {
    column-count: auto;
    column-gap: 0;
  }

  .container-box-image {
    width: 100%;
  }
}
