/*重置样式*/
/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dd,
dl {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100px;
}

body {
  font-family: "Microsoft YaHei";
  font-size: 0.14rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
b {
  font-weight: normal;
}
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input[type="button"],
button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

img {
  border: none;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.woff2") format("woff2"),
    url("../fonts/iconfont.woff") format("woff"),
    url("../fonts/iconfont.ttf") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*图片自适应*/
.img-fit {
  max-width: 100%;
  height: auto;
}

/* nav */

nav {
  background-color: white;
  top: -50px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

nav.fixed-head {
  position: fixed;
  transition: all ease 1s;
  z-index: 9;
  width: 100%;
  top: 0;
}

nav .container {
  display: flex;
  padding: 0 0.3rem;
  align-items: center;
  height: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.nav-logo {
  width: 1.3rem;
}

.nav-btn {
  display: flex;
  flex-direction: column;
}

.nav-btn svg {
  width: 0.45rem;
  height: 0.45rem;
}

.nav-btn svg:last-child {
  display: none;
}

.nav-btn.closed svg:last-child {
  display: block;
}

.nav-btn.closed svg:first-child {
  display: none;
}

.nav-hoome {
  display: flex;
  padding-left: 60px;
}

.nav-img {
  height: 65px;
  margin: 10px 0;
}

.nav-top {
  display: none;
}

.nav-dialog {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-dialog .nav-dialog-content {
  background-color: white;
  z-index: 99;
  padding: 0.2rem 0;
}

.nav-dialog.closed {
  display: none;
}

.nav-dialog p {
  padding: 0.3rem 0;
  text-align: center;
  font-size: 0.3rem;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}

.nav-dialog p.active {
  color: #e74e3d;
}

@media screen and (min-width: 768px) {
  nav .container {
    height: 90px;
  }

  .nav-top {
    display: flex;
  }

  .nav-btn {
    display: none;
  }

  .nav-top {
    display: flex;
  }

  .nav-logo {
    width: 110px;
  }
  .nav-top li {
    width: 100px;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    margin: 0;
  }

  .nav-top li.active {
    background: #e74e3d;
    color: #fefefe;
  }
}

@media screen and (min-width: 1200px) {
  .nav-top li {
    margin: 0 15px;
  }

  nav .container {
    border-bottom: none;
  }
  nav.fixed-head .container {
    height: 70px;
  }
}

/* footer */

footer {
  padding: 0.4rem 0 0.15rem 0;
  background-color: rgba(49, 49, 49, 1);
}

footer dl {
  overflow: hidden;
}

footer dt {
  padding: 0.15rem 0;
  color: rgba(255, 255, 255, 1);
  font-size: 0.26rem;
  font-weight: bold;
}

footer dd {
  float: left;
  padding: 0.15rem 0;
  color: rgba(153, 153, 153, 1);
  margin-right: 0.85rem;
  font-size: 0.24rem;
}

footer p {
  margin: 0.3rem 0;
  font-size: 0.24rem;
  word-wrap: break-word;
  color: rgba(153, 153, 153, 1);
}

@media screen and (min-width: 768px) {
  footer {
    padding: 75px 0 60px 0;
  }

  footer .container .footer-nav {
    display: flex;
    justify-content: center;
    padding: 0 50px;
  }

  footer .container .footer-nav dl {
    flex: 1;
  }

  footer dt {
    padding-bottom: 40px;
    position: relative;
    font-size: 16px;
  }

  footer dt::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(67, 67, 67, 1);
  }

  footer dd {
    padding: 5px 0;
    font-size: 16px;
    float: none;
  }

  footer dd span {
    cursor: pointer;
  }

  footer dd span:hover {
    color: white;
  }

  footer p {
    margin: 0;
    margin-top: 50px;
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  footer .container .footer-nav {
    padding: 0 0 0 10%;
  }

  footer dt.lastdt::after {
    width: 30%;
  }
}

/* article-nav */
.article-nav {
  padding: 0.25rem 0;
  color: #9a9a9a;
}
.article-nav a {
  font-size: 0.16rem;
  color: rgba(51, 51, 51, 1);
}
.article-nav b {
  margin: 0 0.1rem;
}

.article-tilte h2 {
  text-align: center;
  padding: 0.3rem 0;
  font-size: 0.3rem;
}
.article-tilte-desc {
  text-align: center;
  font-size: 0.14rem;
  color: #666666;
}
.article-tilte-desc span.date {
  margin-right: 0.4rem;
}
.article-line {
  margin: 0.3rem 0;
  border-color: rgba(223, 223, 223, 1);
}
.article-content {
  font-size: 0.16rem;
}
.article-content p {
  padding: 0.15rem 0;
  text-indent: 0.2rem;
}
.article-content img {
  max-width: 95%;
  height: auto;
  object-fit: cover;
}
.article-btn {
  overflow: hidden;
  padding-bottom: 0.4rem;
}
.article-btn a.befor {
  float: left;
}
.article-btn a.next {
  float: right;
}
.article-btn a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .article-content img {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .article-nav {
    padding-left: 30px;
  }
  .article-content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .article-tilte h2 {
    font-size: 30px;
  }
  .article-content p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
  .article-btn {
    font-size: 14px;
  }
}

/* pager */
.join-content-box .container {
  position: relative;
  padding-bottom: 1.2rem;
}
.new-content-box .container {
  position: relative;
  padding-bottom: 1.6rem;
}
.pagination-nav {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.pagination-nav ul {
  display: flex;
}
.pagination-nav .page-item {
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid #999999;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 0.3rem;
  line-height: 0.5rem;
  margin: 0 0.2rem;
}
.pagination-nav .page-item.active {
  background-color: rgba(231, 78, 61, 1);
  color: white;
  border-width: 0;
}

@media screen and (min-width: 1200px) {
  .join-content-box .container {
    padding-bottom: 50px;
  }
  .new-content-box .container {
    padding-bottom: 50px;
  }
  .pagination-nav {
    bottom: 0;
  }
  .pagination-nav .page-item {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    margin: 0 10px;
  }
}
