/* about-banner */

.about-banner {
  position: relative;
}

.about-banner-desc {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 1);
}

.about-banner-img {
  max-width: 100%;
  height: 4rem;
  display: block;
  object-fit: cover;
}

.about-banner-desc h2 {
  font-size: 0.4rem;
  font-weight: bold;
}

.about-banner-desc p {
  font-size: 0.24rem;
}

.about-content {
}

.about-content-nav {
  display: flex;
  padding: 0.4rem 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.about-content-nav li {
  cursor: pointer;
  font-size: 0.24rem;
  width: 1.5rem;
  height: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}

.about-content-nav li.active {
  color: white;
  background: #f8a72c;
}

.about-content-nav li:first-child {
  margin-right: 0.75rem;
}

.about-content-nav li:last-child {
  margin-left: 0.75rem;
}

.about-content-box {
  margin-bottom: 0.5rem;
  display: none;
}

.about-content-box.show {
  display: block;
}

.heyme-culture {
  border-bottom: 1px solid #d3d3d3;
}

.heyme-course h4,
.heyme-value h4,
.heyme-culture h4 {
  text-align: center;
  font-size: 0.3rem;
  padding: 0.3rem 0;
}

.heyme-culture p {
  font-size: 0.16rem;
  margin-bottom: 0.4rem;
}

.heyme-value-content {
  display: flex;
  flex-wrap: wrap;
}

.heyme-value-content-item {
  text-align: center;
  margin-bottom: 0.3rem;
  margin-right: 0.1rem;
}
.heyme-value-content-item-icon {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.02rem solid #f8a72c;
  margin-left: auto;
  margin-right: auto;
}
.heyme-value-content-item-icon i {
  font-size: 1rem;
  color: #f8a72c;
}

.heyme-value .heyme-value-content-item h4 {
  font-size: 0.24rem;
  margin: 0.2rem 0;
  padding: 0;
}

.heyme-value-content-item p {
  font-size: 0.16rem;
  max-width: 2.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.heyme-course-content {
  display: none;
}
.heyme-course-content.show {
  display: block;
}
.heyme-course-content-item {
  margin: 0.15rem 0;
}

.heyme-course-content-item img {
  width: 6.8rem;
  margin-right: 0.5rem;
}

.heyme-course-content-item p {
  font-size: 0.16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.heyme-course-content-item-desc h5 {
  font-size: 0.2rem;
  padding: 0.15rem 0;
}

.heyme-bg h4 {
  text-align: center;
  font-size: 0.3rem;
  padding: 0.3rem 0;
}

.heyme-bg p {
  margin-bottom: 0.4rem;
  color: #666666;
}

.heyme-bg img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .heyme-course-content-item-desc p {
    max-width: 90%;
  }

  .heyme-value-content-item {
    margin-right: 4%;
  }

  .heyme-course-content-item img {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .heyme-value-content-item {
    margin-right: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .about-banner {
    height: 300px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url(/images/about_banner1.jpg);
  }

  .about-banner-img {
    display: none;
  }

  .about-banner-desc h2 {
    font-size: 60px;
  }

  .about-banner-desc p {
    margin-top: 10px;
    font-size: 36px;
  }

  .heyme-value-content-item-icon {
    border-width: 2px;
  }

  .about-content-nav {
    padding: 30px 0;
  }
  .heyme-value-content-item {
    margin-right: 0;
  }
  .heyme-value-content-item p {
    max-width: 2.4rem;
  }
  .about-content-nav li {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
  }
  .heyme-bg h4,
  .heyme-course h4,
  .heyme-value h4,
  .heyme-culture h4 {
    font-size: 24px;
    padding: 40px 0;
  }

  .heyme-culture p {
    max-width: 772px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    text-align: center;
    color: #666666;
  }

  .about-content-box .container {
    width: 900px;
  }

  .heyme-value-content {
    justify-content: space-between;
  }

  .heyme-value .heyme-value-content-item h4 {
    font-size: 20px;
  }

  .heyme-value-content-item p {
    font-size: 14px;
    color: #666666;
  }

  .heyme-course-content-item {
    display: flex;
    cursor: pointer;
  }

  .heyme-course-content-item-desc h5:first-child {
    font-size: 20px;
    padding: 20px 0;
  }
  .heyme-course-content-item-desc h5:nth-child(2) {
    padding: 0;
    margin-bottom: 40px;
  }

  .heyme-course-content-item-desc p {
    max-width: 100%;
    font-size: 14px;
  }
}
