{{ define "main" }}

<div class="about-banner">
  <img class="about-banner-img" src="/images/about_banner1.jpg" alt="">
  <div class="about-banner-desc">
    <p>关于灏米</p>
  </div>
</div>

<div class="about-content">
  <div class="about-content-box show">
    <div class="container">
      <div class="heyme-culture" style="padding-bottom: 40px;" >
        <h4>公司使命</h4>
        <p>灏米科技致力于在全球市场塑造小家电品牌，通过不断创新将富有设计美感的产品带向全球消费者，创新智造让生活更美好。
        </p>
        <h4>公司愿景</h4>
        <p>制储冰品牌成为全球家用冰设备品类第一，并具备持续的品牌塑造能力，成为全球性消费品品牌矩阵组织。
        </p>
        <h4>公司口号</h4>
        <p>KEEP LIFE COOL!
        </p>
        <h4>品牌价值观</h4>
        <p>健康，环保，节能，酷爽
        </p>
      </div>
      <div class="heyme-value overflow">
        <h4>九牛二虎价值观</h4>
        <div class="heyme-value-content">
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe67d;</i>
            </div>
            <h4>诚信如一</h4>
            <p class="overflow">品行廉洁，言行诚信，以身作则，表里如一</p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe604;</i>
            </div>
            <h4>学习分享</h4>
            <p class="overflow">有好的学习方法，不拘泥于内容本身，善于服务于本质的系统性学习，并形成自己的体系，并能从系统性角度向合适的对象输出。
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe644;</i>
            </div>
            <h4>充分沟通</h4>
            <p class="overflow">遵从当面原则就事论事原则和充分原则；沟通态度从容有度；善于疏导，沟通技巧高超令人信服。
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe615;</i>
            </div>
            <h4>方法论</h4>
            <p class="overflow">能理解方法论的底层逻辑，并习惯性用于指导工作，善于从各种工作场景中发现/洞察/定义问题，并提炼出工作方法用于指导实践。          
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe649;</i>
            </div>
            <h4>协同性</h4>
            <p class="overflow">能顾全大局，和他人通力合作，积极达成目标；有较强统筹能力，主动组织协同事项；能主动组织和推进部门间协同事项。主动为提高整体协同效率提出解决方案，并推进落实；
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe60f;</i>
            </div>
            <h4>执行力</h4>
            <p class="overflow">能通过工作复盘不断迭代执行方案，有清晰的工作思路；快速整合多种资源，超出工作计划完成更多的工作目标；
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe949;</i>
            </div>
            <h4>主动承担</h4>
            <p class="overflow">对工作怀着强烈的热情，凡事积极主动。愿意多承担多付出，并积极影响他人！
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe613;</i>
            </div>
            <h4>勇于挑战</h4>
            <p class="overflow">敢于跳出舒服区，设定超越自己的目标面对挑战有不服输的精神勇于创新和接受新的事物面对挫折或失利能分析总结经验并重振旗鼓
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe6f1;</i>
            </div>
            <h4>合伙奋斗</h4>
            <p class="overflow">有管理者思维，从公司整体思考问题有工作能力和下属或其他其他同事认可的魅力高度认可公司价值观并践行能为公司发展献计献策有主人翁精神并主动维护公司利益和名誉；
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-content-box">
    <div class="container">
      <div class="heyme-bg">
        <h4>公司简介</h4>
        <p style="font-size:medium"><strong>宁波灏米信息科技有限公司</strong>成立于2020年11月06日。
          从事跨境电商行业。主要产品有制冰机、移动空调、饮水机、饮料柜、冰箱、车载冰箱、取暖器、烘干机、户外工具类等。
          <br/>公司稳定发展，从10人逐渐发展为如今的30人，经营状况良好，且对外投资5家公司。 
        </p>
        <p style="font-size:medium"><strong>宁波灏米信息科技有限公司</strong>注册的商标信息有<strong>ICEHERR</strong>、<strong>COMMYPET</strong>、<strong>GOINFIS</strong>、<strong>CAMPSCAL</strong>、<strong>FREMELY</strong>、<strong>CLOUSAPE</strong>等7个商标。</p>
        <img src="/images/about_banner2.jpg" alt="">
      </div>
    </div>
  </div>
</div>
{{ end }}

