{{ define "main" }}

<div class="about-banner">
  <img class="about-banner-img" src="/images/about_banner_true.jpg" alt="">
  <div class="about-banner-desc">
    <p>关于吉家路米</p>
  </div>
</div>

<div class="about-content">
  <ul class="about-content-nav">
    <li class="active" style="width: 200px;">公司文化</li>
    <li style="width: 200px;">公司背景</li>
  </ul>
  <div class="about-content-box show">
    <div class="container">
      <div class="heyme-culture" >
        <h4>吉家路米文化</h4>
        <p style="font-size:14px; color:black">make better lives with innovative design
        </p>
        <p style="font-size:16px;font-weight:700;color:black">创新设计让生活更美好
        </p>
        <p style="font-size:14px;color:black">Provide excellent product solutions to build an outstanding overseas brand
        </p>
        <p style="font-size:16px;font-weight:700;color:black">成为消费品出海品牌领域卓越的产品方案公司
        </p>
      </div>
      <div class="heyme-value overflow">
        <h4>九牛二虎价值观</h4>
        <div class="heyme-value-content">
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe67d;</i>
            </div>
            <h4>诚信如一</h4>
            <p class="overflow">品行廉洁，言行诚信，以身作则，表里如一</p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe604;</i>
            </div>
            <h4>学习分享</h4>
            <p class="overflow">有好的学习方法，不拘泥于内容本身，善于服务于本质的系统性学习，并形成自己的体系，并能从系统性角度向合适的对象输出。
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe644;</i>
            </div>
            <h4>充分沟通</h4>
            <p class="overflow">遵从当面原则就事论事原则和充分原则；沟通态度从容有度；善于疏导，沟通技巧高超令人信服。
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe615;</i>
            </div>
            <h4>方法论</h4>
            <p class="overflow">能理解方法论的底层逻辑，并习惯性用于指导工作，善于从各种工作场景中发现/洞察/定义问题，并提炼出工作方法用于指导实践。          
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe649;</i>
            </div>
            <h4>协同性</h4>
            <p class="overflow">能顾全大局，和他人通力合作，积极达成目标；有较强统筹能力，主动组织协同事项；能主动组织和推进部门间协同事项。主动为提高整体协同效率提出解决方案，并推进落实；
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe60f;</i>
            </div>
            <h4>执行力</h4>
            <p class="overflow">能通过工作复盘不断迭代执行方案，有清晰的工作思路；快速整合多种资源，超出工作计划完成更多的工作目标；
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe949;</i>
            </div>
            <h4>主动承担</h4>
            <p class="overflow">对工作怀着强烈的热情，凡事积极主动。愿意多承担多付出，并积极影响他人！
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe613;</i>
            </div>
            <h4>勇于挑战</h4>
            <p class="overflow">敢于跳出舒服区，设定超越自己的目标面对挑战有不服输的精神勇于创新和接受新的事物面对挫折或失利能分析总结经验并重振旗鼓
            </p>
          </div>
          <div class="heyme-value-content-item">
            <div class="heyme-value-content-item-icon">
              <i class="iconfont">&#xe6f1;</i>
            </div>
            <h4>合伙奋斗</h4>
            <p class="overflow">有管理者思维，从公司整体思考问题有工作能力和下属或其他其他同事认可的魅力高度认可公司价值观并践行能为公司发展献计献策有主人翁精神并主动维护公司利益和名誉；
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-content-box">
    <div class="container">
      <div class="heyme-bg">
        <h4>公司背景</h4>
        <p>深圳吉家路米信息科技有限公司（简称吉家路米）是宁波知名跨境电商公司宁波黑米信息科技有限公司旗下的全资子公司。宁波黑米信息科技有限公司以助力中国消费品牌出海为使命，成立7年以来在庭院家居，灯具，小电器，玩具等领域成功孵化数十个线上品牌。至2022年公司累计员工超200人，年销售金额超10亿，有成熟的运营中心，供应链中心，营销中心，视觉中心，IT中心。目前已与数个投资机构在接洽。<br/>为进一步提升公司竞争力，公司决定把研发设计中心建立在设计之都深圳，为彰显重视性独立成立吉家路米子公司，按公司化进行经营。 
        </p>
        <p>吉家路米前期目标基于公司灯具，小家电，庭院家具家居，玩具等现有产品线进行迭代升级，组织成熟后将对外开展设计工作，包括产品市场调研，产品概念设计，产品造型设计，产品结构设计，手板制作，模具跟踪技术支持，知识产品服务等一站式服务。致力于成为消费品出海品牌领域卓越的产品方案公司，通过创新设计重新消费类产品，向消费者传递美好，让生活更有品质。</p>
        <img src="/images/about_banner.jpg" alt="">
      </div>
    </div>
  </div>
</div>
{{ end }}

