{{ define "main" }}
<div class="product-banner">
  <img class="product-banner-img" src="/images/product-banner.jpg" alt="">
  <div class="product-banner-desc">
    <p>产品展示</p>
  </div>
</div>   
<div class="container">
  <div class="product-layout">
    <ul class="menu-item">
      <li class="link">太阳能灯</li>
      <li class="link">庭院家居</li>
      <li class="link">玩具</li>
      <li class="link">小家电</li>
    </ul>
    <div class="con-right">
      <div id="content-right">
        <h3 style="margin:2% 0"></h3>
        <ul class="hide container-box">
          <li><img src="/images/sun/1.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/2.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/3.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/4.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/5.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/6.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/7.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/8.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/9.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/11.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/13.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/14.JPG" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/d.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/e.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/g.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/i.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/k.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/sun/m.jpg" alt="" class="container-box-image"></li>
        </ul>
        <ul class="hide container-box">
          <li><img src="/images/yard/1.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/2.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/3.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/5.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/6.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/7.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/8.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/9.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/10.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/11.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/12.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/13.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/16.png" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/a.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/b.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/c.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/d.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/e.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/f.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/yard/g.jpg" alt="" class="container-box-image"></li> 
          </ul>
          <ul class="hide container-box">
          <li><img src="/images/toy/1.JPG" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/2.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/4.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/5.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/6.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/7.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/8.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/10.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/11.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/12.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/index1.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/index2.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/index3.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/index4.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/index5.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/index6.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/index7.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/toy/index8.jpg" alt="" class="container-box-image"></li>
        </ul>
        <ul class="hide container-box">
          <li><img src="/images/elc/1.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/elc/4.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/elc/5.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/elc/6.bmp" alt="" class="container-box-image"></li>
          <li><img src="/images/elc/7.jpg" alt="" class="container-box-image"></li>
          <li><img src="/images/elc/8.jpg" alt="" class="container-box-image"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script >
  var mulu = document.getElementsByClassName("menu-item")[0];
  var item = mulu.querySelectorAll("li");
  var content = document.getElementById("content-right");
  var title = content.querySelector("h3");
  title.innerHTML = item[0].innerHTML;
  var content_ul = content.querySelectorAll("ul");
  content_ul[0].classList.remove("hide");
  for(var i = 0; i < item.length; i++) {
    item[i].index = i;
    item[i].onclick = function() {
      title.innerHTML = this.innerHTML;
      for(var j = 0; j < content_ul.length; j++) {
        if(j === this.index) {
          content_ul[j].classList.remove("hide");
        }else {
          content_ul[j].classList.add("hide");
        }
      }
    }
  }
</script>
{{ end }}
