{{ define "main" }}
<div class="contact-banner">
  <img class="contact-banner-img" src="/images/contact_banner.jpg" alt="">
  <div class="contact-banner-desc">
    <p>联系我们</p>
  </div>
</div>
<div class="contact-mode">
  <div class="container">
    <h4>联系方式</h4>
    <ul>
      <a href="tel:18668868822">
        <div class="contact-mode-icon">
          <i class="iconfont">&#xe61d;</i>
        </div>
        <p class="contact-mode-title">TEL</p>
        <p class="contact-mode-cont">+86-18368222445</p>
      </a>
      <a href="mailto:paul@hoome.cn">
        <div class="contact-mode-icon">
          <i class="iconfont">&#xe673;</i>
        </div>
        <p class="contact-mode-title">E-mail</p>
        <p class="contact-mode-cont">
          gavin@hoomenology.com</p>
      </a>
      <a>
        <div class="contact-mode-icon">
          <i class="iconfont">&#xe671;</i>
        </div>
        <p class="contact-mode-title">Address</p>
        <p class="contact-mode-cont">宁波江北区前洋e商小镇北区2号楼602室</p>
      </a>
    </ul>
  </div>
</div>
{{ end }}