{{ define "main" }}
<div class="contact-banner">
  <img class="contact-banner-img" src="/images/7contact_banner.jpg" alt="">
  <div class="contact-banner-desc">
    <p>联系我们</p>
  </div>
</div>
<div class="contact-mode">
  <div class="container">
    <h4>联系方式</h4>
    <ul>
      <a href="tel:18668868822">
        <div class="contact-mode-icon">
          <i class="iconfont">&#xe61d;</i>
        </div>
        <p class="contact-mode-title">TEL</p>
        <p class="contact-mode-cont">18668868822</p>
      </a>
      <a href="mailto:paul@gigalumi.cn">
        <div class="contact-mode-icon">
          <i class="iconfont">&#xe673;</i>
        </div>
        <p class="contact-mode-title">E-mail</p>
        <p class="contact-mode-cont">paul@gigalumi.cn</p>
      </a>
      <a>
        <div class="contact-mode-icon">
          <i class="iconfont">&#xe671;</i>
        </div>
        <p class="contact-mode-title">Address</p>
        <p class="contact-mode-cont">深圳市龙岗区坂田街道2000号有所为大厦B710（华为地铁站D口）</p>
      </a>
    </ul>
  </div>
</div>
{{ end }}